{% extends 'base.html' %}
{% block content %}
<header>
        <a href="{% url 'todo_list_create' %}">New Todo List</a>
        <a href="{% url 'todo_item_create' %}">New Todo Item</a>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>List Name</th>
                <th>List Amount</th>
            </tr>            
        </thead>
        <tbody>
            {% for list in todolist_list %}
                <tr>
                    <td>
                        <a href="{% url 'todo_list_detail' list.id %}">
                        {{ list.name }}
                        </a>
                    </td>
                    <td>{{ list.items.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
